button {
    width: 180px;
    background-color: #F1D3B3;
    color: #303030;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 800;
    transition: all 1s ease-in-out;
    margin: auto 50px;
    margin-bottom: 160px;
}

button:hover {
    background-color: #8B7E74;
    color: #111;
    transform: scale(1.25);
}